/* ====================================================================================================== */
/* Imports */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* Variables */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* Init & fonts */
/* ====================================================================================================== */
/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 39, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 173, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 180, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 188, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 195, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 202, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 208, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 214, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 220, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 245, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 249, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 256, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 268, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 274, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 285, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 296, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 301, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 310, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 323, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 333, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 347, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 355, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 364, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 374, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 384, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 390, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 397, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 409, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 9, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: "daxcondensed";
  src: url('../font/daxcondensed.eot');
  src: url('../font/daxcondensed.eot?#iefix') format('eot'), url('../font/daxcondensed.woff') format('woff'), url('../font/daxcondensed.ttf') format('truetype'), url('../font/daxcondensed.svg') format('svg');
}

/* ====================================================================================================== */
/* General */
/* ====================================================================================================== */
/* line 26, ../sass/style.sass */
html, body {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 80, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(80%, rgba(255, 255, 255, 0))), url("../images/layout/pat2.png");
  background: -webkit-radial-gradient(center top, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%), url("../images/layout/pat2.png");
  background: -moz-radial-gradient(center top, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%), url("../images/layout/pat2.png");
  background: -o-radial-gradient(center top, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%), url("../images/layout/pat2.png");
  background: radial-gradient(center top, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%), url("../images/layout/pat2.png");
}

/* line 32, ../sass/style.sass */
.cont {
  width: 1024px;
  margin: 0px auto;
}
/* line 36, ../sass/style.sass */
.cont header {
  position: relative;
  z-index: 10;
}
/* line 39, ../sass/style.sass */
.cont header h1 {
  margin: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 119px;
  height: 53px;
  background: url(../images/layout/h1.png) no-repeat;
}
/* line 46, ../sass/style.sass */
.cont header figure {
  float: right;
  margin: 15px;
  pointer-events: none;
}
/* line 50, ../sass/style.sass */
.cont header figure img {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 30px 0 0;
}
/* line 55, ../sass/style.sass */
.cont section#billboard {
  z-index: 5;
  position: relative;
  width: 953px;
  height: 605px;
  display: block;
  margin: 5px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 15px 30px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 15px 30px 5px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 15px 30px 5px;
}
/* line 64, ../sass/style.sass */
.cont section#billboard div#glass {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  background: url(../images/layout/glass.png) no-repeat;
}
/* line 72, ../sass/style.sass */
.cont section#billboard div#map_canvas {
  width: 883px;
  height: 535px;
  position: absolute;
  margin: 35px;
}
/* line 78, ../sass/style.sass */
.cont section#billboard > img {
  position: absolute;
}
/* line 81, ../sass/style.sass */
.cont section#billboard .tl {
  top: 10px;
  left: 1px;
}
/* line 84, ../sass/style.sass */
.cont section#billboard .tr {
  top: 10px;
  right: 3px;
}
/* line 87, ../sass/style.sass */
.cont section#billboard .tright {
  top: 0px;
  right: 0px;
  pointer-events: none;
}
/* line 91, ../sass/style.sass */
.cont section#billboard .bl {
  bottom: -5px;
  left: 1px;
}
/* line 94, ../sass/style.sass */
.cont section#billboard .br {
  bottom: -5px;
  right: 3px;
}
/* line 98, ../sass/style.sass */
.cont footer {
  margin: 25px 0 0 0;
  text-align: center;
  font-family: "daxcondensed", Arial, sans-serif;
  text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 0px;
}
